/* CSS based on https://github.com/cs231n/cs231n.github.io */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.content {
  padding: 0px 80%;
}

.content table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

.content table {
    border-collapse: collapse;
    width: 100%;
}

.content th, td {
    padding: 15px;
}

.content tr:nth-child(even){background-color: #f2f2f2}
