<!DOCTYPE html>
<html>
  <head>
    <title>The Competitive Overcomplete Output Layer</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!-- mathjax -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  
  <body>
    <article class="content">
    {{ content }}
    </article>
  </body>

</html>
